*{
    font-family: 'Shippori Antique B1', sans-serif;
    user-select: none;
    line-height: 35px;
    text-decoration: none;
}
.information{
    display : inline-block;
    position:fixed;
    background-color : #6756fa;
    width:250px;
    height:auto;
    padding:20px;
    border : 2px solid #fff;
    color :#fff;
    margin: 5px;
    box-shadow : 4px 4px 5px #ffbcff;
}
#profile-pic{
    display:block;
    border : 2px solid black;
    border-radius : 100%;
    width:150px;
    height:150px;
    margin:auto;
}
h4{
    color:#fff;
    opacity:50%;
    text-align:center;
}
.Contacts{
    display :inline;
    padding : 10px;
    position: relative;
    left:15%;
    color : #fff;
    font-size: 16px;
    
}
.Contacts:hover{
    font-size: 18px;
    color : #ffbcff;
    transition:0.3s;
}
a{
    color : #fff;
    text-decoration: none;
    padding : 15px;
}
a:hover{
    color : #ffbcff;
    transition:0.35s;
}
.about-me{
    position: absolute;
    top:10%;
    left :25%;
}
h3{
    font-size: 18px;        
}
meter{
    width: 300px;
    height: 50px;
}
article{
    padding:10px;   
}